<div id="page-wrapper" style="background-image: url('../assets/images/Return_of_Sports.jpg');">
    <div class="container">
        <div class="sportsbackground">
            <div class="transbox" style="padding:20px;">
                <div class="row bg-title ">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 ">
                        <h4 class="page-title">Dashboard</h4>
                    </div>

                </div>
                <button type="button" style="position: fixed;
                    bottom: 33px;
                    right: 24px;
                    z-index: 999999;" (click)="openForm()" class="btn btn-warning btn-circle btn-xl"><i
                        class="fa fa-plus"></i> </button>


                <div class="row" *ngIf="!Showform">
                    <div class="col-md-12">
                        <div class="">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="box-title">Recent Updates</h3>
                                </div>
                                <div class="col-md-6 popwrap" style="text-align: right;">
                                    <button class="btn btn-facebook waves-effect btn-circle waves-light" type="button"
                                        [ngClass]="{'filtered':isFiltered}" (click)="togglePopUp()">
                                        <i class="fa fa-filter"></i> </button>
                                    <!-- <div class="transparent" *ngIf="showpopup"></div> -->
                                    <div class="popup1" *ngIf="showpopup" style="text-align: left;">
                                        <div class="white-box">
                                            <!-- <h3 class="box-title m-b-0" style="text-align: center;">Search</h3> -->
                                            <button class="btn close1" type="button" (click)="togglePopUp()"><i
                                                    class="fa fa-times"></i> </button>
                                            <div class="row">
                                                <div class="col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="exampleInputuname">User Name</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]="searchstring" id="exampleInputuname"
                                                                placeholder="search...">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">feed type</label>
                                                        <div class="input-group">
                                                            <select class="form-control" [(ngModel)]="feedtype">
                                                                <option *ngFor="let o of options" [value]="o.value">
                                                                    {{o.title}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Start</label>
                                                        <div class="input-group">
                                                            <!-- <input class="form-control" placeholder="Select Start date"
                                                                [selectMode]="'range'" [(ngModel)]="from"
                                                                [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
                                                            <owl-date-time [pickerType]="'calendar'" #dt3>
                                                            </owl-date-time> -->

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Sort By</label>
                                                        <div class="input-group">
                                                            <select class="form-control">
                                                                <option>Post Created</option>
                                                                <option>Start Date</option>
                                                                <option>End Date</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <button type="button" (click)="feedchange()"
                                                        class="btn btn-success waves-effect waves-light m-r-10">Filter</button>
                                                    <button type="button" (click)="resetfilter()"
                                                        class="btn btn-inverse waves-effect waves-light">Reset</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6 app-search" style="text-align: right;">
                                    <button type="button" class="btn btn-success btn-circle" (click)="feedchange()"><i
                                            class="fa fa-refresh"></i> </button>
                                    <input style="margin-left:10px" type="text" [(ngModel)]="searchstring"
                                        placeholder="Search..." class="searchpost form-control"
                                        (change)="feedchange()" />
                                    
                                </div> -->
                            </div>
                            <div class="row ">
                                <div class="col-md-12">
                                    <app-posts></app-posts>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- /.container-fluid -->
        </div>
    </div>
</div>

<!-- /#page-wrapper -->