 <div class="col-md-6 wc-table-wrapper" *ngFor="let team of teamsData">
        <div class="table-section">
            <div>
                <div class="table-title">{{team.SelectTeam}}</div>
                    <table class="wc-table">
                        <thead>
                        <tr class="head">
                            <th colspan="3">336-5</th>
                        </tr>
                        <tr class="head">
                            <th>Player</th>
                            <th>Runs</th>
                            <th>6's</th>
                            <th>4's</th>
                            <th>S/R rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let score of team.myFormArray;let i=index">
                            <td>{{score['Player'+ (i+1)]}}</td>
                            <td>{{score.player}}</td>
                            <td>{{score.player}}</td>
                            <td>{{score.player}}</td>
                            <td>{{score.player}}</td>
                        </tr>  

                        <tr class="test">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="test">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="head">
                            <td colspan="3">Over 50</td>
                        </tr>
                        <tr>
                            <td>bowler1</td>
                            <td>3-47</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>bowler2</td>
                            <td>1-71</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>bowler3</td>
                            <td>1-84</td>
                            <td>9</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
 </div>

