<!-- Cricket -->
<div class="white-box">
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <form>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-xs-5 col-lg-5">
                                <h3>Team A</h3>
                                <label for="title">Total Score </label>
                                <input class="form-control" formControlName="scoreA" type="text"
                                    placeholder="Please Enter Score">
                            </div>
                            <div class="col-xs-5 col-lg-5">
                                <h3>Team B</h3>
                                <label for="title">Total Score </label>
                                <input class="form-control" formControlName="scoreB" type="text"
                                    placeholder="Please Enter Score">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-lg-5">
                                <div class="row">
                                    <div class="col-xs-5 col-lg-6">
                                        <label for="title">Total Wickets </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Total Wickets">
                                    </div>
                                    <div class="col-xs-5 col-lg-6">
                                        <label for="title">Total Overs </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Total Overs">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-lg-5">
                                <div class="row">
                                    <div class="col-xs-5 col-lg-6">
                                        <label for="title">Total Wickets </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Total Wickets">
                                    </div>
                                    <div class="col-xs-5 col-lg-6">
                                        <label for="title">Total Overs </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Total Overs">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 1</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 1</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 2</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 2</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 3</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 3</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 4</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 4</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 5</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-lg-5">
                                <label for="score">Player 5</label>
                                <div class="col-xs-5 col-lg-6">
                                    <label for="title">Player Name </label>
                                    <input class="form-control" formControlName="scoreA" type="text"
                                        placeholder="Player Name">
                                </div>
                                <div class="row">
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Score </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Score">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">Balls </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="Balls">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">4's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="4's">
                                    </div>
                                    <div class="col-xs-5 col-lg-3">
                                        <label for="title">6's </label>
                                        <input class="form-control" formControlName="scoreA" type="text"
                                            placeholder="6's">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>