<div class="container">
    <div class="row">
        <!--col1-->
        <div class="col-sm-7">
            <div class="row">
                <input id="disabled-input" type="text" pInputText [disabled]="true" />
            </div>
            <div class="row">
                <input id="disabled-input" class="col-sm-2" type="text" pInputText />
                <input id="disabled-input" class="col-sm-2" type="text" pInputText />
                <input id="disabled-input" class="col-sm-2" type="text" pInputText />
                <input id="disabled-input" class="col-sm-2" type="text" pInputText />
            </div>
        </div>
          <!--col2-->
        <div class="col-sm-5">
            <input id="disabled-input" type="text" pInputText [disabled]="true" />
        </div>
    </div>
</div>