 <div class="col-md-6 wc-table-wrapper">
        <div class="table-section">
            <div>
                <div class="table-title">TEAM BATTING</div>
                    <table class="wc-table">
                        <thead>
                        <tr class="head">
                            <th colspan="3">336-5</th>
                        </tr>
                        <tr class="head">
                            <th>Player</th>
                            <th>Runs</th>
                            <th>B</th>
                            <th>6's</th>
                            <th>4's</th>
                            <th>S/R rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let team of teamsData;let i=index">
                            <td>{{team.name}}</td>
                            <td>{{this.scoreSummary[team.name] ? this.scoreSummary[team.name].runs :'-'}}</td>
                            <td>{{this.scoreSummary[team.name] ? this.scoreSummary[team.name].ballsFaced:'-'}}</td>
                            <td>{{this.scoreSummary[team.name] ? this.scoreSummary[team.name].four:'-'}}</td>
                            <td>{{this.scoreSummary[team.name] ? this.scoreSummary[team.name].six:'-'}}</td>
                            <td>{{this.scoreSummary[team.name] ? this.scoreSummary[team.name].sr : '-'}}</td>
                        </tr>  

                        <tr class="test">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="test">
                            <td colspan="3"></td>
                        </tr>
                        <tr class="head">
                            <td colspan="3">Over 50</td>
                        </tr>
                        <tr  *ngFor="let k of objectKeys(scoreSummaryBowler)">
                            <td>{{scoreSummaryBowler[k].name}}</td>
                            <td>{{scoreSummaryBowler[k].wickets}} - {{scoreSummaryBowler[k].runs}}</td>
                            <td>2</td>
                        </tr>
      
                        </tbody>
                    </table>
                </div>
        </div>
 </div>

